<main>
    <h2>ABOUT US:</h2>
    <section>
        <h5>
            This is a list of tasks made in an Angular work development framework and shows the use of Angular's base
            among them:
        </h5>
        <ul>
            <li>Routing</li>
            <li>Serevis</li>
            <li>Using components</li>
            <li>Typescript</li>
            <li>Rxjs</li>
        </ul>
        <b>and fake server information with the Gison Server module</b>
    </section>
    <a routerLink="/">Go Back</a>
</main>